<div class="container">
  <div class="row">
      <h1> Demo of Service Without Server Call</h1>
  </div>
  <div class="row">
<app-employee-list></app-employee-list>
</div>
<div class="spacer5"></div>
<div class="row">
<app-employee-detail></app-employee-detail>
</div>
</div>

<div class="container">
    <div class="row">
        <h1> Demo of Service With Server Call</h1>
    </div>
    <div class="row">
      <app-employee-list-remote></app-employee-list-remote>
  </div>
  <div class="spacer5"></div>
  <div class="row">
    <app-employee-detail-remote ></app-employee-detail-remote>
  </div>

  <div class="row">
    <h1>Example of Remote Notes</h1>
    <app-notes></app-notes>

  </div>

  <div class="row">

      <app-employee-submit></app-employee-submit>

  </div>

  </div>
